body{
    color: white;
    font-family: 'Benne', serif;
    height: 100vh;
}

.container{
    background-image: url(/img/recal-media-ueBIGLmiI5A-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.nav-list{
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    position: relative;
    top: -16px;
    left: 0;
    left: -32px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    display: none;
}

.line{
    width: 100%;
    height: 3px;
    background-color: chocolate;
}

.nav-item {
    list-style: none;
    font-size: 1.5em;
    padding:7px;
    padding-right: 20px;
    cursor: pointer;
}

.nav-item li{
    cursor: pointer;

}

.nav-item:hover{
    background-color: chocolate;
}

.heading{
    position: relative;
    left: 100px;
    margin-right: 700px;
    font-size: 1.5em;
}

#to{
    color: yellow;
}

#everywhere{
    color: coral;
}

.heading2{
    position: relative;
    left: 400px;
    margin-right: 700px;
    font-size: 1.5em;
}

.heading2 h1{
    box-shadow: 5px 5px 5px 5px #0000;
}

.heading3{
    position: relative;
    left: 850px;
    margin-right: 1125px;
    font-size: 1.5em;
}

#butt{
    background-color: chocolate;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px; 
    color: white;
    border-radius: 12px;
    padding: 7px;
    position: relative;
    top: -50px;
    left: 550px;
}

#butt:hover{
    background-color: black;
    transition: .8s;
}

.carrousels h1{
    color: rgba(8, 22, 175, 0.765);
    font-family: 'Brygada 1918', serif;
}

.carrousels p{
    font-family: 'Brygada 1918', serif;
    color: #444;
    display: inline-block;
}

.carrousels{
    overflow: hidden;
    padding:30px;
    margin-top: 100px;
    margin-bottom: 1000px;
}

.carrousel{
    background: url(/img/ignacio-ceballos-eP94dHUaY1U-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    float: left;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.429) ;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.carrousel:hover{
    cursor: pointer;
}

.carrousel h3{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -300px;
    text-shadow: 2px 3px black;
}

.carrousel button{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -300px;
    left: 132px;
    background-color: white;
    border: none;
    outline: none;
    color: rgb(201, 34, 62);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.carrousel:hover button{ 
    background: rgb(201, 34, 62);
    color: white;
}

.carrosel{
    background: url(/img/patricia-prudente-6UyWK8mDcWo-unsplash.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    margin-right: 1000px;
    margin-left: 400px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.429) ;
    border-radius: 10px;
    color: black;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.carrosel:hover{
    cursor: pointer;
}

.carrosel h3{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -300px;
    text-shadow: 2px 3px black;
}

.carrosel button{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -300px;
    left: 132px;
    background-color: white;
    border: none;
    outline: none;
    color: rgb(201, 34, 62);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.carrosel:hover button{ 
    background: rgb(201, 34, 62);
    color: white;
}

.carousel{
    background: url(/img/jacek-dylag-jo8C9bt3uo8-unsplash.jpg);
    overflow: hidden;
    float: right;
    position: relative;
    top: -500px;
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.429) ;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.carousel:hover{
    cursor: pointer;
}

.carousel h3{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -300px;
    text-shadow: 2px 3px black;
}

.carousel button{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -300px;
    left: 132px;
    background-color: white;
    border: none;
    outline: none;
    color: rgb(201, 34, 62);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.carousel:hover button{ 
    background: rgb(201, 34, 62);
    color: white;
}



/* The footer is fixed to the bottom of the page */

footer{ 
    position: relative; 
    top: -1200px;
}



.footer{
	background-color: black;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-left,
.footer-center,
.footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-left{
	width: 30%;
}

.footer h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-left img{
	width: 30%;
}

.footer h3 span{
	color:  #e0ac1c;
}


.footer-link{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-link a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-company{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-center{
	width: 35%;
}


.footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}



.footer-right{
	width: 30%;
}

.footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}


@media(max-width: 800px){
    .nav-list{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        display: none;
    }
    .change{
        display: block;
    }
    .hamburger-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 50px;
        right: 50px;
        display: flex;
        flex-direction: column;
        z-index: 100;
    }
}
