body{
    margin: 0;
    background: red;
}

.slideshow{
    display: none;
}

.slideshow img{
    width: 100%;
}

.slidercontent{
    width: 1000px;
    position: relative;
    margin: auto;
}

.left, .right{
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 18px;
}

.right{
    right: 0;

}