body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: steelblue;
}


header{
    height: 200px;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    padding:0px;
    margin: 0px;
    display: flex;
    color: #fff;
    margin-bottom: .5em;
    margin-right: .5em;
}

ul li{
    background: #eee;
    color: #333;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 1.3em;
    padding: 0.5em;
    line-height: 2;

}
.logo{
    border-radius: 50%;
    margin-right: auto;
}

