*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Dosis", sans-serif;
}

.hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.nav-list{
    background: black;
    color: green;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-link{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

.nav-link:hover{
    background: chocolate;
}

.line{
    width: 100%;
    height: 3px;
    background: chocolate;
    transition: all .8s;
}


@media(max-width:1024px){
    .nav-list{
        color: black;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        display: none;
    }

    .change{
        display: block;
    }

    .hamburger-menu{
        width: 35px;
        height: 30px;
        position: fixed;
        top: 50px;
        right: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 100;
        background-color: chocolate;
    }
}

/*Style for slider*/

.body{
    display: flex;
    justify-content: center;
}


.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 40px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}


/* css auto navigation */

.navigation_auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation_auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation_auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation_auto .auto-btn1{
    background: #40D3DC;
}

#radio2:checked ~ .navigation_auto .auto-btn2{
    background: #40D3DC;
}

#radio3:checked ~ .navigation_auto .auto-btn3{
    background: #40D3DC;
}

#radio4:checked ~ .navigation_auto .auto-btn4{
    background: #40D3DC;
}

/* css for manual navigation */

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

@media(max-width:800px){
    .slider{
        position: relative;
        top: 0;
        width: 500px;
    }

    .slide img{
        width: 500px;
    }

}

/*Style for SIGN IN and SIGN UP*/

.sign-in-container{
    display: none;
}

/*
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    padding:20px;
}

h1{
    font-weight: bold;
    margin-top: 0;
}

p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span{
    font-size: 12px;

}

a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container{
    background: red;
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 220px;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container form{
    background: green;
    
    display: flex;
    flex-direction: column;
    padding:0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input{
    background: #eee;
    border: none;
    padding: 12px 45px;
    width: 100%;
}

button{
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    outline: none;
}

button:active{
    transform: scale(0.80 );
}

.
button.ghost{
    background: transparent;
    border-color: #fff;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay{
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform:translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
}
*/






footer{
    background: #111;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

@media(max-width:800px){
    footer{
        height: 50px;
        display: flex;
        align-items: center;
    }
}

