body{
    margin: 0;
    background: #cddd;
}

.showslide{
    display: none;
}

.showslide img{
    width: 100%;
}

.left, .right{
    cursor: pointer;
    position: relative;
    top: -100px;
    left: 540px;
    margin: auto;
    padding: 16px;
    background-color: aquamarine;
}